html, body {
  background-color: #fafafa;
}

.container {
  margin: 3em auto;
  max-width: 90%;
  position: relative;
}

@media screen and (min-width: 479px) {
  .container {
    max-width: 65%;
  }
}